body {
  margin: 0 auto;
}

#game-field {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.players > p {
  font-size: 24px;
  display: inline;
  margin: 0 100px;
}

#game-field-wrapper {
  width: auto;
  height: auto;
  display: inline-block;
  border: 20px solid #966f54;
  margin: 10% auto 0 auto;
  box-sizing: content-box;
  background-color: #966f54;
}

.game-field-table {
  top: 6px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border-collapse: collapse;
}

.field-row:last-child {
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.field-row:last-child > td {
  border-right: none;
  border-left: none;
  border-bottom: none;
  width: 0;
  height: 0;
}

.field-row > td:last-child {
  border-bottom: none;
  border-right: none;
  border-top: none;
  width: 0;
  height: 0;
}

.field-row > td {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-spacing: 0;
  box-sizing: border-box;
}

.circle {
  position: absolute;
  top: -13px;
  left: -13px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.circle:hover {
  background-color: #fafafa;
  opacity: 0.2;
}
